.renderscan_types {
  padding: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 8rem;
}

.renderscan_type_size {
  width: 100px;
  z-index: 0;
  position: relative;
}

.renderscan_type_button {
  width: 120px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 2.2rem;
  z-index: 2;
}

@media screen and (min-width: 548px) {
  .renderscan_types {
    padding: 4rem 6rem;
  }

  .renderscan_type_button {
    width: 150px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 2.8rem;
    z-index: 2;
  }
}

@media screen and (min-width: 758px) {
  .renderscan_types {
    padding: 4rem 12rem;
  }

  .renderscan_type_button {
    margin: auto;
    left: 0;
    right: 0;
    bottom: 4em;
    z-index: 2;
  }
}

@media screen and (min-width: 1000px) {
  .renderscan_type_button {
    width: 140px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 2em;
    z-index: 2;
  }
  .renderscan_types {
    padding: 4rem 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .renderscan_type_button {
    width: 140px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 3em;
    z-index: 2;
  }
  .renderscan_types {
    padding: 4rem 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1700px) {
  .renderscan_type_button {
    width: 180px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 5em;
    z-index: 2;
  }
}
