@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.content {
  min-width: 30rem;
  min-height: 30rem;
  background: #321e43;
  box-shadow: 18px 18px 84px #140c1b, -18px -18px 84px #50306b;
  position: relative;
  padding: 0 4rem 2rem 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 2vh;
}

.content img {
  align-self: center;
  width: 8rem;
  border-radius: 2vh;
  transform: translateY(-3.5rem);
  background: #321e43;
  box-shadow: 18px 18px 84px #140c1b, -18px -18px 84px #50306b;
  padding: 1rem;
}

.content .field {
  min-height: 3.5rem;
  width: 100%;
  display: flex;
  position: relative;
  row-gap: 0.2rem;
  flex-direction: column;
}

.content .field div {
  display: flex;
  margin: 0 0.5rem;
}

.field input {
  min-height: 3.5rem;
  width: 100%;
  padding-left: 45px;
  font-size: 1rem;
  outline: none;
  border: none;
  color: white;
  background: #321e43;
  box-shadow: 27px 27px 41px #22142e, -27px -27px 41px #422858;
  font-family: "Poppins", sans-serif;
  border-radius: 2vh;
}

.field {
  margin-bottom: 20px;
  font-size: 1rem;
}

.field div {
  display: flex;
  justify-content: center;
}

.field span {
  position: absolute;
  line-height: 50px;
  left: 0.5rem;
  top: 1.25rem;
  color: white;
}

.n_button {
  margin: 1rem 0;
  width: 100%;
  height: 50px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  background: #321e43;
  box-shadow: 27px 27px 41px #22142e, -27px -27px 41px #422858;
}

.n_button:hover,
.n_button:focus {
  color: #3498db;
  background: #321e43;
  box-shadow: inset 35px 35px 62px #2a1938, inset -35px -35px 62px #3b234e;
}

@media screen and (max-width: 1200px) {
  .content {
    margin: 0 0rem 16rem 0rem;
    min-width: 90vw;
    min-height: 50vh;
  }
}

input {
  margin: 0.5rem 0;
}

input:focus,
input:active {
  background: #321e43;
  box-shadow: inset 35px 35px 62px #2a1938, inset -35px -35px 62px #3b234e;
}
