.container__bg {
  background-color: #321e43;
}

.contest {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6rem 2rem 12rem 2rem;
  column-gap: 3rem;
  min-height: 100vh;
}

.contest_mobile {
  display: none;
}

._scale {
  transform: scale(1);
  transition: all 0.3s;
}

._scale:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

._fade {
  transform: scale(0.9);
  opacity: 0.5;
}

._fade:hover {
  opacity: 1;
  transform: scale(0.95);
  transition: all 0.3s;
}

@media screen and (max-width: 1250px) {
  .contest {
    display: none;
  }
  .contest_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5rem;
    padding: 8rem 2rem 16rem 2rem;
    align-items: center;
  }
  ._scale {
    transform: scale(1);
    transition: all 0.3s;
  }

  ._scale:hover {
    transform: scale(1);
    transition: all 1s;
  }

  ._fade {
    transform: scale(1);
    opacity: 0.7;
  }

  ._fade:hover {
    opacity: 1;
    transform: scale(1);
    transition: all 1s;
  }
}
