@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Poppins:wght@100&display=swap");

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background-color: #321e43;
}

html {
  overflow-x: hidden;
}
.auth_container {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}

.auth_container .forms {
  padding: 5rem 0;
  width: 40%;
  margin: auto;
}
@media screen and (min-width: 320px) {
  .grow_keyboard {
    padding: 4rem 0 2rem 0;
  }
}

@media screen and (min-width: 420px) {
  .grow_keyboard {
    padding: 2rem 0 3rem 0;
  }
}

.img_ani {
  animation: a_d_s 5s infinite;
}

@keyframes a_d_s {
  50% {
    transform: scale(0.75);
  }
}

@media screen and (min-width: 1201px) {
  .renderscan_bg {
    height: 100vh;
    width: auto;
    background-image: url("./assets/renderscan/back2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    background-position: center;
  }
}

@media screen and (max-width: 1200px) {
  .renderscan_bg {
    height: 100vh;
    width: auto;
    background-image: url("./assets/renderscan/back1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    background-position: center;
  }
}

@media screen and (max-width: 850px) {
  .renderscan_bg {
    height: 100vh;
    width: auto;
    background-image: url("./assets/renderscan/back3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    background-position: center;
  }
}

@media screen and (max-width: 850px) {
  .renderscan_img_holder {
    width: 200px;
  }
  .renderscan_img_deco {
    width: 80px;
  }
  .renderscan_astro {
    position: absolute;
    bottom: -1rem;
    right: 5rem;
    z-index: 3;
  }
  .astro_img {
    width: 50px;
  }
  .renderscan_how_to_play {
    width: 360px;
  }

  .renderscan_bottom_bar {
    width: 100vw;
    position: absolute;
    bottom: 0;
    content: url("./assets/renderscan/footer_2.svg");
    z-index: 2;
  }
}

@media screen and (max-width: 1200px) {
  .renderscan_img_holder {
    width: 500px;
  }
  .renderscan_img_deco {
    width: 100px;
  }
  .renderscan_main_grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 0;
    row-gap: 2rem;
  }
  .renderscan_astro {
    position: absolute;
    bottom: 1rem;
    right: 5rem;
    z-index: 3;
  }
  .astro_img {
    width: 100px;
  }
  .renderscan_how_to_play {
    width: 400px;
  }

  .renderscan_bottom_bar {
    width: 100vw;
    position: absolute;
    bottom: 0;
    content: url("./assets/renderscan/footer_2.svg");
    z-index: 2;
  }
}

@media screen and (min-width: 1201px) {
  .renderscan_img_holder {
    width: 700px;
  }
  .renderscan_img_deco {
    width: 140px;
  }
  .renderscan_main_grid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 2rem;
  }
  .renderscan_astro {
    position: absolute;
    bottom: 2rem;
    right: 5rem;
    z-index: 3;
  }
  .astro_img {
    z-index: 3;
    width: 120px;
  }
  .renderscan_how_to_play {
    width: 650px;
  }
  .renderscan_bottom_bar {
    width: 100vw;
    position: absolute;
    bottom: 0;
    content: url("./assets/renderscan/footer.svg");
    z-index: 2;
  }
}

@keyframes render_flight {
  from {
    transform: rotate(360deg) translateX(15px) rotate(-360deg);
  }
  to {
    transform: rotate(0deg) translateX(15px) rotate(0deg);
  }
}

@keyframes flick {
  50% {
    transform: rotate(15deg);
  }
}

@keyframes scale_up {
  50% {
    transform: scale(1.05);
  }
}

.render_flight_animation {
  animation: render_flight 2s reverse ease-in-out infinite;
}

.render_camera_animation {
  animation: flick 2s reverse ease-in-out infinite;
}

.render_grab {
  transition: all 0.5s;
  transform: scale(1);
  cursor: pointer;
  transform: translateY(-1.75rem);
}

.render_grab:hover {
  transition: all 0.5s;
  transform: scale(1.2);
  transform: translateY(-1.75rem);
}
