.timer {
  box-shadow: 1px 1px 3px #495371, -1px -1px 3px #495371;
  background-color: #495371;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem 5rem 1rem 1rem;
  border-radius: 2vh;
  position: relative;
}

.timer__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.first_item {
  display: flex;
  align-self: flex-start;
  width: 60%;
}

.timer img {
  position: absolute;
  width: 6rem;
  top: -1rem;
  right: -1rem;
}

.timer__container .first_item .rndv {
  display: flex;
  align-self: flex-start;
  color: #ffffff;
  display: flex;
  align-self: center;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #495371;
  padding: 0.5rem 1rem 0.5rem 2rem;
  border-radius: 2vh;
  transform: translateX(-2rem);
  z-index: 0;
  box-shadow: 1px 1px 2px #495371;
}

.rndv .price {
  display: flex;
  font-size: 0.9rem;
  align-self: center;
  margin: 0 0.4rem;
}

.timer__container .first_item img {
  background-color: #495371;
  border-radius: 10vh;
  margin: 1rem 0;
  width: 4rem;
  height: 4rem;
  padding: 0.75rem;
  z-index: 1;
  box-shadow: 1px 1px 2px #495371;
}

.NavLink {
  font-size: 1rem;
}

.nav_end__mid_desktop {
  display: flex;
  justify-content: center;
}

.nav_end__items_desktop {
  display: flex;
  justify-content: flex-end;
}

.nav_end__items_mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav_end__items_desktop {
    display: none;
  }
  .nav_end__mid_desktop {
    display: none;
  }
  .nav_end__items_mobile {
    display: flex;
  }
}

.side_bar {
  position: fixed;
  width: 100vw;
  overflow-x: hidden;
  border-bottom-right-radius: 2vh;
  border-bottom-left-radius: 2vh;
  z-index: 3;
  background-color: white;
}

.side_bar__content {
  z-index: 3;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  padding: 4rem 2rem;
}

.side_bar__content button {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  z-index: 3;
}
