.drop_container {
  position: relative;
}

.no_border:hover {
  border: 0;
}

.scaler:hover {
  transform: scale(1.05);
  transition: all 0.2s;
}

.custom_drop_down {
  background-color: #6d1daf;
  padding: 2rem;
  min-width: 20rem;
  position: absolute;
  bottom: -22rem;
  right: -1rem;
  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
}

.open {
  transform: translateX(0rem);
  transition: all 0.25s;
}

.close {
  transform: translateX(20rem);
  transition: all 0.25s;
}

.custom_drop_down_header {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.divider {
  margin: 1.25rem 0;
  padding: 0.05rem;
  border-radius: 2vh;
}

.custom_drop_down_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  row-gap: 1rem;
}

.custom_drop_down_content_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
}
